<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Predmeti</title>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=yes" name="viewport">
    <link rel="stylesheet" th:href="@{/css/css.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap-material-design.min.css}">

    <link href="../static/css/css.css" rel="stylesheet">
    <script th:src="@{/js/jquery-3.5.1.min.js}"></script>
</head>

<body onload="onLoadAction()">
<div class="container" th:attr="data-courseid=|${courseid}|">
    <div id="favorite">
        <div class="card" th:attr="data-subjectid=${subject.subjectID}" th:each="subject, stats : ${subjects}">
            <span class="favorite" onclick="transferToUnfavoriteTest(this)"></span>
            <div class="ripple" onclick="slider(this,false)">
                <div class="card-body">

                    <h4 class="card-title" th:text="${subject.courseName}">Card title</h4>
                    <ul class="card-text">
                        <li class="list-group-item" th:each="teacher, stats : ${subject.title}">
                            <a th:attr="onclick=|getTeacherSchedule('${teacher}')|" th:text="${teacher}"> Profesor:</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div id="dropdown">
                <button class="btn btn-raised btn-primary table-buttons"
                        th:attr="onclick=|getPosts(${subject.obavestenja},'Obavestenja')| , data-linkid=${subject.obavestenja}"
                        type="button">Obavestenja
                </button>
                <button class="btn btn-raised btn-primary table-buttons"
                        th:attr="onclick=|getPosts(${subject.rezultati},'Rezultati') | , data-linkid=${subject.rezultati}"
                        type="button">Rezultati
                </button>
                <table class="table table-borderless">
                    <thead>
                <tr>
                    <th class="colum-name" scope="col">Predavanja</th>
                    <th class="colum-name" scope="col">Vezbe</th>
                </tr>
                </thead>
                <tbody>
                <tr>

                    <td>
                        <button class="btn btn-raised btn-primary table-buttons"
                                th:attr="onclick=|getFolders(${subject.kol1Pre},'Predavanja') | , data-linkid=${subject.kol1Pre}"
                                type="button">Kolokvijum I
                        </button>
                    </td>
                    <td>
                        <button class="btn btn-raised btn-primary table-buttons"
                                th:attr="onclick=|getFolders(${subject.kol1Vez},'Vezbe') | , data-linkid=${subject.kol1Vez}"
                                type="button">Kolokvijum I
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button class="btn btn-raised btn-primary table-buttons"
                                th:attr="onclick=|getFolders(${subject.kol2Pre},'Predavanja') | , data-linkid=${subject.kol2Pre}"
                                type="button">Kolokvijum
                            II
                        </button>
                    </td>
                    <td>
                        <button class="btn btn-raised btn-primary table-buttons"
                                th:attr="onclick=|getFolders(${subject.kol2Vez},'Vezbe') | , data-linkid=${subject.kol2Vez}"
                                type="button">Kolokvijum II
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button class="btn btn-raised btn-primary table-buttons"
                                th:attr="onclick=|getFolders(${subject.ispitPre},'Predavanja') | , data-linkid=${subject.ispitPre}"
                                type="button">Ispit
                        </button>
                    </td>
                    <td>
                        <button class="btn btn-raised btn-primary table-buttons"
                                th:attr="onclick=|getFolders(${subject.ispitVez},'Vezbe') | , data-linkid=${subject.ispitVez}"
                                type="button">Ispit
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button class="btn btn-raised btn-primary table-buttons"
                                th:attr="onclick=|getFolders(${subject.dmPre},'Predavanja') | , data-linkid=${subject.dmPre}"
                                type="button">Dodatni
                            Materijali
                        </button>
                    </td>
                    <td>
                        <button class="btn btn-raised btn-primary table-buttons"
                                th:attr="onclick=|getFolders(${subject.dmVez},'Vezbe') | , data-linkid=${subject.dmVez}"
                                type="button">Dodatni Materijali
                        </button>
                    </td>
                </tr>
                </tbody>
                </table>
            </div>

        </div>

    </div>


    <div class="card" onclick="slider(this,true)">
        <div class="card-body">
            <h4 class="card-title ">Neomiljeni predmeti</h4>
        </div>
    </div>
    <div id="unfavorited-list-container" style="display:none">

    </div>

</div>


<div aria-hidden="true" aria-labelledby="exampleModalCenterTitle" class="modal fade" id="mainContentModal" role="dialog"
     tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="contentModalTitle">Modal title</h5>
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="contentModal-body">

            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-dismiss="modal" type="button">Zatvori</button>
            </div>
        </div>
    </div>
</div>


<div aria-hidden="true" aria-labelledby="exampleModalCenterTitle" class="modal fade" id="spareModal" role="dialog"
     tabindex="-1">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header customModalTitle">

                <h5 class="modal-title" id="spareModalTitle">Modal title</h5>
                <h6 class="text-muted" id="spareModalDate">Modal Date</h6>
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class='list-line'></div>
            <div id="refs">

            </div>
            <div class="modal-body" id="spareModal-body">

            </div>
            <div class='list-line'></div>
            <div id="attachmentsHolder">

            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-dismiss="modal" type="button">Zatvori</button>
            </div>
        </div>
    </div>
</div>

<!-- Load React. -->
<!-- Note: when deploying, replace "development.js" with "production.min.js". -->
<script crossorigin src="https://unpkg.com/react@16/umd/react.production.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"></script>
<script th:src="@{/js/popper.js}"></script>
<script th:src="@{/js/snackbar.min.js}"></script>
<script th:src="@{/js/bootstrap-material-design.js}"></script>
<script th:src="@{/js/filter_min.js}"></script>
<script th:src="@{/js/js.js}"></script>
<script>
    $(document).ready(function () {
      $('body').bootstrapMaterialDesign();
    });


</script>
</body>

</html>
